* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  /* background-color: rgb(12, 12, 12) !important;
  color: aliceblue; */
}

.navbar {
  background-color: black !important;
  padding: 10px 0;
}

.navbar-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.navbar-brand {
  color: #4dbf00;
  font-size: 24px;
}
.logo{
  color: aliceblue;
}

.menu-toggle,
.profile {
  display: none;
}

.menu {
  flex-grow: 1;
  text-align: center;
}

.menu-list {
  list-style: none;
  display: flex;
  justify-content: center;
  color: aliceblue;
}

.menu-list-item {
  margin: 0 20px;
  font-size: 18px;
}

.search {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.search input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  width: 200px;
  color: rgb(12, 12, 12) ;
}

.search button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.profile {
  display: flex;
  align-items: center;
}

.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}

.login-logout a {
  color: white;
  text-decoration: none;
}

.profile-dropdown {
  position: relative;
}

.profile-name {
  color: white;
  margin-right: 10px;
}

.profile-dropdown i {
  color: white;
}

.container {
  background-color: #151515;
  min-height: calc(100vh - 50px);
  color: white;
}

.content-container {
  margin-left: 50px;
}

.featured-content {
  height: 50vh;
  padding: 50px;
}

.featured-title {
  width: 200px;
}

.featured-desc {
  width: 500px;
  color: lightgray;
  margin: 30px 0;
}

.featured-button {
  background-color: #4dbf00;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
}

.movie-list-container {
  padding: 0 20px;
}

.movie-list-wrapper {
  position: relative;
  overflow: hidden;
}

.movie-list {
  display: flex;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.movie-list-item {
  margin-right: 30px;
  position: relative;
}

.movie-list-item:hover .movie-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
  opacity: 1;
}

.movie-list-item-img {
  transition: all 1s ease-in-out;
  width: 270px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.movie-list-item-title {
  background-color: #333;
  padding: 0 10px;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-desc {
  background-color: #333;
  padding: 10px;
  font-size: 14px;
  position: absolute;
  top: 30%;
  left: 50px;
  width: 230px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-button {
  padding: 10px;
  background-color: #4dbf00;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.arrow {
  font-size: 120px;
  position: absolute;
  top: 90px;
  right: 0;
  color: lightgray;
  opacity: 0.5;
  cursor: pointer;
}

.container.active {
  background-color: white;
}

.movie-list-title.active {
  color: black;
}

@media screen and (max-width: 768px) {
  .menu-toggle {
      display: block;
  }

  .menu {
      display: none;
  }

  .profile {
      display: none;
  }

  .search {
      display: block;
      margin-right: 20px;
  }
  .search input[type="text"] {
    width: 150px;
  }
}

@media screen and (max-width: 576px) {
  .container {
      flex-direction: column;
      align-items: flex-start;
  }

  .menu-toggle {
      order: 1;
  }

  .menu {
      order: 2;
      width: 100%;
  }

  .menu-list {
      justify-content: space-around;
  }

  .profile {
      order: 3;
      margin-top: 10px;
  }
}
